@using FlyoBlazor2.Services
@inject IJSRuntime JS
@inherits LayoutComponentBase


<div class="@(themeState.IsDark ? "dark" : "")">
<div class="font-opensans dark:bg-darkBlue dark:text-white">
    <CascadingValue Value="themeState">
        <Header/>
        <main class="flex-1">
            @Body
        </main>
        <Footer/>
    </CascadingValue>
</div>
</div>

@code {
    private readonly ThemeState themeState = new ThemeState();


    protected override void OnInitialized()
    {
        // Wire toggle early so Header clicks work even if JS interop fails later
        themeState.Toggle = ToggleThemeAsync;
    }


    private async Task ToggleThemeAsync()
    {
        themeState.IsDark = !themeState.IsDark;
        await JS.InvokeVoidAsync("window.localStorage.setItem", "color-theme", themeState.IsDark ? "dark" : "light");
        StateHasChanged();
    }
    
}

